html{
  font-family: helvetica;
  font-size: 18px;
  color: white;
}

.container{
  max-width: 960px;
  margin: 0 auto;
  /*border: 2px solid green;*/
}

/* -----------------------Header--------------------------- */

header{
  background-color: black;
}

header .container{
  display: flex;
  color: white;
  align-items: center;
}

header .container span{
  padding: 0.66rem 1rem;
  font: 1rem Helvetica;
}

#logo{
  height: 1.5rem;
  padding-left: 0.5rem;
}

/* -------------------------Banner---------------------------- */

.MainBanner{
  background-image: url("../photos/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.MainBanner .container{
  padding-top: 9rem;
}

.NewArrival{
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  font-weight: bold;
}

.NewArrival p{
  font-size: 1rem;
}

.NewArrival h1{
  font-size: 2rem;
  padding-top: 0.25rem;
}

/* ---------------------Navigation---------------------- */

nav{
  background-color: firebrick;
  width: auto;
}

nav ul{
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0.75rem 0;
}

/* ------------------Product Grid------------------------ */

.ProductContainer{
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.product{
  width: 30%;
}

.image{
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img{
  max-width: 10rem;
}

.product span{
  display: flex;
  background-color: black;
  justify-content: center;
  padding: 0.5rem 0;
}

/* --------------------Location and Hours----------------- */

.Location-Hours{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.info{
  width: 35%;
}

.info span{
  display: flex;
  padding: 1rem 0rem 1rem 2rem;
  background-color: black;
}

.info p{
  color: black;
}

/* --------------------------Footer------------------------ */

footer{
  background-color: black;
}

.copywrite span{
  display: flex;
  height: 5rem;
  align-items: center;
  width: auto;
}
